.oe_login_buttons a {
    color: #9c651e !important;
}

.o_header_affix.affix.affixed {
    margin-top: -200px !important;
}

.integrations-block {
    background-color: #272727;
    padding: 45px 0;
    margin: 90px 0 0 0;
}

.service-desc {
    font-size: 0.9rem;
}

.mb-50 {
    margin-bottom: 50px;
}

.btn-link {
    color: #f7961c;
    &:hover {
        color: #f7961c;
    }
}

.icon-size {
    font-size: 20px;
}

.banner-subtext {
    font-size: 25px;
}
